.heart {
    border-width: 10px;
    border-style: solid;
    border-color: black;
}

.post-content {
    position: relative;
  }
  
  .truncated {
    cursor: pointer;
  }
  
  .fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Adjust the height as needed */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }